.svg-icon {
    ---width: 0px;
    ---height: 0px;

    display: flex;
    align-self: center;

    fill: currentColor;

    width: var(---width);
    height: var(---height);
    min-width: var(---width);
    min-height: var(---height);

    &__logo {
        &--medium {
            ---width: 122px;
            ---height: 24.71px;
        }

        &--large {
            ---width: 160px;
            ---height: 32.41px;
        }
    }

    &__arrow-right {
        ---width: 25px;
        ---height: 12px;
    }

    &__benefits {
        ---width: 35px;
        ---height: 35px;
    }

    &__swiper {
        ---width: 45px;
        ---height: 45px;
    }

    &__plus {
        ---width: 24px;
        ---height: 24px;

        stroke: currentColor;
    }
}
