.heading {
    ---text-color: var(--text-color);

    text-wrap: balance;
    color: var(---text-color);

    &--1 {
        font-size: 54px;
        font-weight: 600;
        line-height: calc(74 / 54);
    }

    &--2 {
        font-size: 48px;
        font-weight: 600;
        line-height: calc(64 / 48);
    }

    &--3 {
        font-size: 38px;
        font-weight: 600;
        line-height: calc(56 / 38);
    }

    &--5 {
        font-size: 32px;
        font-weight: 500;
        line-height: calc(48 / 32);
    }

    &--6 {
        font-size: 24px;
        font-weight: 500;
        line-height: calc(36 / 24);
    }

    &--blue {
        ---text-color: var(--color-blue);
    }

    &--white {
        ---text-color: var(--color-white);
    }
}

.heading-tag {
    ---text-color: var(--text-color);

    font-size: 16px;
    font-weight: 500;
    line-height: calc(28 / 16);
    color: var(---text-color);

    &--white {
        ---text-color: var(--color-white);
    }
}

.paragraph {
    ---text-color: var(--text-color);

    font-size: 16px;
    font-weight: normal;
    line-height: calc(28 / 16);
    color: var(---text-color);

    &--dark-blue-opaque {
        ---text-color: var(--color-blue-black-70);
    }

    &--white {
        ---text-color: var(--color-white);
    }

    &--white-opaque {
        ---text-color: var(--color-white-70);
    }
}
