.dark {
    --page-bg: #252526;
    --text-color: #ffffff;
}

:root {
    --container-width: 1310px;
    --container-padding: 15px;

    --font-main: "Poppins", sans-serif;
    --font-accent: "Manrope", sans-serif;

    --laptop-size: 1199px;
    --tablet-size: 959px;
    --mobile-size: 599px;

    --transition-duration: 0.4s;

    --page-bg: #ffffff;
    --text-color: #282938;

    --color-yellow: #fcd980;
    --color-yellow-pale: #fde8b3;

    --color-white: #ffffff;
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-white-20: rgba(255, 255, 255, 0.2);
    --color-white-smoke: #f4f6fc;

    --color-gray: #696974;
    --color-gray-light: #c9cbda;
    --color-gray-dark: #535460;

    --color-blue: #2405f2;
    --color-blue-dark: #1c1e53;
    --color-blue-dark-50: rgba(28, 30, 83, 0.5);
    --color-blue-black: #282938;
    --color-blue-black-30: rgba(40, 41, 56, 0.3);
    --color-blue-black-70: rgba(40, 41, 56, 0.7);

    --color-purple: #5239fa;
}
