.feedback-card {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    &__content {
        @media (max-width: 1049px) {
            text-align: center;
        }
    }

    &__footer {
        @media (max-width: 1049px) {
            display: flex;
            justify-content: space-around;
        }
    }
}
