.user-profile {
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 14px;
    width: fit-content;

    picture {
        grid-row: 1 / 3;
    }

    &__image {
        grid-row: 1 / 3;
        display: flex;
        align-items: center;
        justify-content: center;

        object-fit: cover;
        object-position: center;
        height: 60px;
        width: 60px;

        border-radius: 50%;
        user-select: none;
        -webkit-user-drag: none;
    }

    &__user-name {
        font-size: 18px;
        font-weight: 500;
        line-height: calc(32 / 18);
        white-space: nowrap;
    }

    &__user-role {
        font-size: 12px;
        font-weight: 500;
        line-height: calc(28 / 12);
        white-space: nowrap;
    }
}
