.blog-card {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &__image,
    picture {
        user-select: none;
        -webkit-user-drag: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__pub-date {
        font-size: 16px;
        font-weight: 500;
        line-height: calc(28 / 16);
        color: var(--color-blue-black-70);
    }
}
