.hero-section {
    padding-block: 130px;
    background-color: var(--color-blue);
    color: var(--color-white);

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 48px;
    }

    &__text {
        display: grid;
        row-gap: 24px;
    }

    &__links {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }

    &__illustration {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        min-width: 610px;
        user-select: none;
        -webkit-user-drag: none;
    }
}
