.benefit-card {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    padding: 48px;

    &__icon {
        color: var(--color-blue);
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &--white-bg {
        background-color: var(--color-white);
    }
}
