$container-width: 1400px;
$container-padding: 60px;

$font-main: "Poppins", sans-serif;
$font-accent: "Manrope", sans-serif;

$transition-duration: 0.2s;

$page-bg: #ffffff;
$text-color: #282938;

$color-white: #ffffff;
$color-white-smoke: #f4f6fc;

$color-blue: #2405f2;
$color-blue-dark: #1c1e53;
$color-blue-black: #282938;

$color-gray: #696974;
$color-gray-light: #c9cbda;
$color-gray-dark: #535460;

$color-yellow: #fcd980;
$color-purple: #5239fa;
