.faq-section {
    padding-block: 130px;

    &__content {
        display: flex;
        flex-direction: column;

        > .faq-card {
            border-top: 2px solid var(--color-gray-light);

            &:first-child {
                border-top: none;
            }
        }
    }
}
